subnet_prefix,building_name,floor,region,site_code
10.1.1,YOUR INFORMATION GOES HERE,YOUR INFORMATION GOES HERE,YOUR INFORMATION GOES HERE,YOUR INFORMATION GOES HERE
10.1.2,YOUR INFORMATION GOES HERE,YOUR INFORMATION GOES HERE,YOUR INFORMATION GOES HERE,YOUR INFORMATION GOES HERE
